* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  :root {
    --purple-200: #9a7bd1;
  
    --purple-500: #6b36c8;
  
    --purple-800: #441f88;
  
    --black-800: #171717;
  
    --gray-200: #cccccc;
  
    --gray-400: #505861;
  
    --white: #ffffff;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--gray-200);
    color: var(--black-800);
  }
  
  .botao {
    padding: 12px 32px;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
  }
  
  .botao:hover {
    color: var(--gray-200);
    background-color: var(--purple-800);
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu_container {
    background-color: var(--purple-800);
    position: sticky;
    top: 0;
    filter: opacity(0.9);
    height: 80px;
  }
  
  .menu_container a {
    font-size: 16px;
    color: var(--white);
    font-weight: bold;
  }
  
  .menu_container a:hover {
    color: var(--purple-200);
  }
  
  .menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .menu_lista {
    list-style: none;
  }
  
  .menu_lista li {
    margin: 0 0 0 16px;
  }
  
  .home_container {
    display: grid;
    max-width: 1120px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 540px);
    align-items: center;
    gap: 30px;
  }
  
  .center {
    text-align: center;
    padding: 20px;
  }
  
  
  .img_about {
    border-image-outset: 10px;
    border: 5px solid var(--purple-500);
    border-radius: 300px;
  }
  
  .about_container{
    max-width: 1120px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 540px);
    align-items: center;
    gap: 30px;
  }
  
  .github_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    height: 20vh;
    margin: auto;
  }
  
  .contato_container {
    max-width: 1120px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 540px);
    align-items: center;
    gap: 30px;
  }
  
  .contato_content {
    flex-direction: column;
    margin: auto;
    font-size: 20px;
    gap: 20px;
  }
  
  .social_container a img {
    width: 70px;
  }
  
  .social_icon:hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(99%) saturate(1880%)
      hue-rotate(250deg) brightness(97%) contrast(96%);
  }
  
  form{
    display: flex;
    flex-direction: column;
    margin: 70px 0px 0px 0px;
    padding: 24px;
  }
  
  form label{
    font-size: 2opx;
  }
  
  form input, textarea {
    margin: 8px 0px 16px;
    padding: 8px;
    border-radius: 14px;
    border: none;
    font-weight: bold;
  }
  
  form button {
    background-color: transparent;
  }
  
  .footer_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    background-color: var(--purple-800);
  }
  
  .footer_container p{
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
  }
  
  .footer_container p:hover{
    color: var(--black-800);
  }